#body{
    color: rgba(14, 3, 24, 0.884);
    text-align: left;
    font-family: "Arial";
}
#post{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #ddd;
    margin:  0 auto;
}
h1{
    font-size: 38px;
}